@ismalabs:registry=https://pkgs.dev.azure.com/ismalabs/bbe67611-3d8b-4e04-aa93-1173b4b694aa/_packaging/ismalabs/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/ismalabs/bbe67611-3d8b-4e04-aa93-1173b4b694aa/_packaging/ismalabs/npm/registry/:username=ismalabs
//pkgs.dev.azure.com/ismalabs/bbe67611-3d8b-4e04-aa93-1173b4b694aa/_packaging/ismalabs/npm/registry/:_password=NmFlZmJqc3A1cnY0N3J2bWNrcGY0Z3l5Zm1lZWJ3d3Z6aTJtZmFjaWdqcXh1ZWJwemFncQ==
//pkgs.dev.azure.com/ismalabs/bbe67611-3d8b-4e04-aa93-1173b4b694aa/_packaging/ismalabs/npm/registry/:email=ismaleiva90@gmaill.com
//pkgs.dev.azure.com/ismalabs/bbe67611-3d8b-4e04-aa93-1173b4b694aa/_packaging/ismalabs/npm/:username=ismalabs
//pkgs.dev.azure.com/ismalabs/bbe67611-3d8b-4e04-aa93-1173b4b694aa/_packaging/ismalabs/npm/:_password=NmFlZmJqc3A1cnY0N3J2bWNrcGY0Z3l5Zm1lZWJ3d3Z6aTJtZmFjaWdqcXh1ZWJwemFncQ==
//pkgs.dev.azure.com/ismalabs/bbe67611-3d8b-4e04-aa93-1173b4b694aa/_packaging/ismalabs/npm/:email=ismaleiva90@gmaill.com
; end auth token

; Registro público de npm
registry=https://registry.npmjs.org/
